{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="heading">@ App</h1>
    </div>
    
    <div class="container">
        {% for story in success_stories.items %}
        <div class="story-container">
            <h1>{{story.title}}</h1>
            <h2>Creator: 
                <a href="{{url_for('users.user_stories', username=story.author.username)}}">
                    {{story.author.username}}
                </a>
            </h2>
            <p>Published: {{story.date.strftime('%B %d, %Y')}}</p>
            <a href="{{url_for('success_stories.success_story', success_story_id=story.id)}}" class="show-story">Read this story</a>
            
        </div>
        {% endfor %}
    </div>
   
{% endblock %}