{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="heading">Welcome to the @ app</h1>
        <h2 id="tagline">Your reminder that you're Already There!</h2>
        <p id="definition">
            <span>at</span>
            : defined in the Oxford English dictionary as <span>expressing location or arrival in a particular place or position</span>
        </p>

        <p class="story-container">You are your inspiration and motivation to confidently confront challenges to reach your goals because you are ALREADY THERE</p>

        <h2 id="sub-heading">How It Works:</h2> 
        <p>Record your successes and reflect on them you when you need a confidence boost</p>
    </div>
   
{% endblock %}