{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to the @ app</h1>
        <h2>Your reminder that you're Already There!</h2>
        <h4>Intro to the @ app:</h4> 
        <p>
            <span>at</span>
            : defined in the Oxford English dictionary as <span>expressing location or arrival in a particular place or position</span>
        </p>

        <p>You are your inspiration and motivation to confidently confront challenges to reach your goals because you are ALREADY THERE</p>

        <h4>How It Works:</h4> 
        <p>Record your successes and reflect on you when you need a confidence boost</p>
    </div>
   
{% endblock %}