{% extends "base.html" %}
{% block content %}
   
<form method="POST">
    {{form.hidden_tag()}}
    {{form.email.label(class="form-control-label")}}
    {{form.email(class="form-control form-control-lg")}}<br>
    {{form.username.label(class="form-control-label")}}
    {{form.username}(class="form-control form-control-lg")}<br>
    {{form.password.label(class="form-control-label")}}
    {{form.password(class="form-control form-control-lg")}}<br>
    {{form.pass_confirm.label(class="form-control-label")}}
    {{form.pass_confirm(class="form-control form-control-lg")}}<br>
    {{form.submit(class="btn btn-info")}}
</form>
{% endblock %}